@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/loaders.css/src/loaders";
@import "node_modules/ladda/css/ladda";

body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.loader {
    .my-loader {
        background-color: #D32F2F;
    }
}
